.footer-bar {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 12px 0px 0px 0px;
    height: 30px;
    background-color: #444138;
    vertical-align: middle;
    text-align: center;
    color: beige;
}