.header-bar {
   height: fit-content;
   margin-bottom: 20px;
   background-color: #C6C09C;
}
.header-element {
    vertical-align: top;
    // margin: 2px;
    
    border-radius: 10px;
    width: fit-content;
    display: inline-block;
    width: 10vw;
    margin: auto 10px;
    // height: 100%;
}

.logo-image {
    height: 70px;
    width: auto;
    padding: 10px 10px 10px 3px;
    // padding-top: 20px;
    margin: auto 10px;
}

.text-element {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    color: #333124;
    padding: 30px 10px;
    float: right;

    &:hover {
        background-color:  #d6d2bd ;
        -webkit-box-shadow: 0px 0px 25px 5px rgba(225,225,225,0.6);
        -moz-box-shadow: 0px 0px 25px 5px rgba(225,225,225,0.6);
        box-shadow: 0px 0px 25px 5px rgba(225,225,225,0.6);
    }
}